<div class="navContainer">
    {{!-- <div>
        <img id="logo" src="./images/harrypotter.png" alt="Harry Potter Logo">
    </div> --}}
    <div>
    <ul>
        <img src="./images/glasses.png" alt="Harry Potter Glasses">
        <br>
        <li><a href="/">Homepage</a></li>
        <li><a href="/characters">Characters</a></li>
        <li><a href="/sortingHat">Sorting Hat</a></li>
        <li><a href="/spells">Spells</a></li>
        {{!-- <li><a href="./speed">Speed</a></li> --}}
    </ul>
    </div>

</div>