<div class="navBar">
    <ul>
        <li><a href="/">Homepage</a></li>
        <li><a href="/characters">Characters</a></li>
        <li><a href="/sortingHat">Sorting Hat</a></li>
        <li><a href="/spells">Spells</a></li>
        {{!-- <li><a href="./speed">Speed</a></li> --}}
    </ul>
</div>