<div class="contentContainer">
    <h1>Account</h1>
    <ul>
        {{#each account}}
        <li>{{@key}} : {{this}}</li>
        {{/each}}
    </ul>
    <br>
    <div>
        <p>Name: {{usersName}}</p>
        <p>Username: {{username}}</p>
        <p></p>
    </div>
    <div class="information">
        <div>

        </div>
        <div>

        </div>
        <br>
        <form action="/logout" method="POST">
            <input class="inputButton" type="submit" value="Log Out">
        </form>
        {{!-- <div>
            <ul>
                <li class="logout"><a href="/login">Log Out</a> </li>
            </ul>
        </div> --}}
    </div>

</div>