<div class="contentContainer">
    <h1>Account</h1>
    {{!-- <ul>
        {{#each data}}
        <li>{{@key}} : {{this}}</li>
        {{/each}}
    </ul> --}}
    <br>
    <div>
        <p>Name: {{name}}</p>
        <p>Username: {{username}}</p>
        <p></p>
    </div>
    <div class="information">
        <div>
            
        </div>
        <div>

        </div>
        <div>

        </div>
    </div>

</div>