<div class="contentContainer">
    <h1>Character Search</h1>
    <ul>
        {{#each data}}
        <li>{{@key}} : {{this}}</li>
        {{/each}}
    </ul>
    <br>
    <br>
    <form action="/characters" method="POST">
        {{!-- name for "character was incorrect - was characterPlace" --}}
        <input class="inputSections" type="text" name="character" placeholder="Enter Character Name">
        <br>
        <br>
        <input class="inputButton" type="submit" value="Submit">
    </form>
</div>

        {{!-- <label for="location">Country Code: </label> --}}
