<div class="contentContainer">
    <h1>Harry Potter API</h1>
    <ul>
        {{#each data}}
        <li>{{@key}} : {{this}}</li>
        {{/each}}
    </ul>

    <form action="/characters" method="POST">
        <input class="inputSections" type="text" name="characterName" placeholder="Enter Character Name">
        <br>
        <br>
        <input class="inputButton" type="submit" value="Submit">
    </form>
</div>

        {{!-- <label for="location">Country Code: </label> --}}
