<div class="homeContainer">
    <div class="quote">
        <h1>“Let us step into the night and pursue that flighty temptress, adventure.”</h1>
        <p>- Albus Dumbledore</p>
    </div>
    <h2>{{logout}}</h2>
    <br>
    <div>
        <img class="home" src="./images/swear.gif" alt="Sorting Hat">
    </div>
</div>