<div class="contentContainer">
    {{!-- <h1><img id="logo" src="./images/harrypotter.png" alt="Harry Potter Logo"></h1> --}}

    <ul>
        {{#each data}}
        <li>{{@key}} : {{this}}</li>
        {{/each}}
    </ul>

{{!-- 
    <form action="/" method="POST">
        <input class="inputSections" type="text" name="characterName" placeholder="Character Name">
        <br>
        <br>
        <input class="inputButton" type="submit" value="Submit">
    </form> --}}

</div>