<div class="images">
    <img src="./images/sortinghat.png" alt="Sorting Hat">
</div>
<div class="contentContainer">
    <h1>Sorting Hat</h1>
    <ul>
        {{#each data}}
        <li>{{@key}} : {{this}}</li>
        {{/each}}
    </ul>
    <br>
    <br>
    <div>
        <form class="sortingHat" action="/sortingHat" method="POST">
            <input class="inputButton" type="submit" value="Submit">
        </form>
    </div>
</div>