<div class="images">
    <img src="./images/sortinghat.png" alt="Sorting Hat">
</div>
<div class="contentContainerTwo">
    <h1 class="sortingHeader">Sorting Hat</h1>
    <br>
    <h3>I know just what to do with you....</h3>
    <br>
    <p class={{house}}>{{title}}</p>
    <br>
    <br>
    <div>
        <form class="sortingHat" action="/sortingHat" method="POST">
            <input class="inputButton" type="submit" value="Submit">
        </form>
    <br>
    </div>
</div>