<div class="spellImage">
    <img src="./images/wand.png" alt="Elder Wand">
</div>
<div class="contentContainer">
    <h1>Spells</h1>
    <ul>
        {{#each spell}}
        <li>{{@key}} : {{this}}</li>
        {{/each}}
    </ul>
    <br>
    <br>
    <form action="/spells" method="POST">
        <input class="inputSections" type="text" name="spells" placeholder="Enter Spell Name">
        <br>
        <br>
        <input class="inputButton" type="submit" value="Submit">
    </form>
</div>