<div class="contentContainer">
    <h1>Spells</h1>
    <ul>
        {{#each data}}
        <li>{{@key}} : {{this}}</li>
        {{/each}}
    </ul>
    <br>
    <br>
    <form action="/spells" method="POST">
        <input class="inputSections" type="text" name="characterName" placeholder="Enter Character Name">
        <br>
        <br>
        <input class="inputButton" type="submit" value="Submit">
    </form>
</div>