body{
    background-color: #873336;
    margin: 0;
} 

.homePage{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.container{
    padding: 50px 600px 0 0;
}

h1{
    color: whitesmoke;
}

h2{
    color: whitesmoke;
}

h3{
    color: whitesmoke;
}

.navBar{
    display: flex;
    flex-direction: column; 
    padding: 140px 20px 0 0px;
}

li{
    text-decoration: none;
    list-style: none;
    color: whitesmoke;
    padding: 6px;
}

a{
    text-decoration: none;
    color: whitesmoke;
}

li :hover{
    background-color: darkgrey;
}

.inputSections{
    background-color: #740001;
    color: whitesmoke;
    opacity: 0.5;
    height: 35px;
    width: 300px;
    padding: 3px;
}

::placeholder{
    color: whitesmoke;
}

.inputButton{
    background-color: #D3A625;
    /* opacity: 0.7; */
    color: whitesmoke;
    height: 30px;
    width: 100px;
    border-radius: 10px;
}

.inputButton :hover{
    opacity: 0.2;
}

#logo{
    height: 100px;
    width: 300px;

}

.headerContainer{
    display: flex;
    justify-content: flex-end;
    background-color: black;
    opacity: 0.6;
    height: 60px;
    padding: 2px 30px 2px 0;
}