/* @import url('https://fonts.googleapis.com/css?family=Tangerine&display=swap'); */
/* @import url('') */

@font-face {
  font-family: "bluu";
  /* src: url('bluunext-bold-webfont.woff2') format('woff2'),
         url('bluunext-bold-webfont.woff') format('woff'),
         url('bluunext-bold.ttf') format('truetype'),
         url('bluunext-bold-webfont.svg#bluu_nextbold') format('svg'); */
  src: url(../Fonts/BluuNext-Bolditalic.otf);
  /* font-weight: normal;
    font-style: normal; */
}

body {
  background-color: #873336;
  margin: 0;
}

.homePage {
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
}

.contentContainerTwo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 300px;
  padding: 10px 20px 10px 30px;
  box-sizing: border-box;
  background-color: whitesmoke;
  opacity: 0.7;
  border-radius: 60px;
}

.contentContainer,
.homeContainer {
  /* opacity: 0.8; */
  width: 100%;
  /* padding: 50px 600px 0 0; */
}

.homeContainer {
  display: flex;
  flex-direction: column;

}

h1 {
  font-family: bluu;
  color: whitesmoke;
}

.sortingHeader {
  font-family: bluu;
  color: #873336;
}

h2 {
  color: whitesmoke;
}

h3 {
  color: dimgray;
}

p {
  font-size: 20px;
  color: #d3a625;
}

.navBar {
  display: flex;
  flex-direction: column;
  /* background-color: #D3A625;
    opacity: 0.5; */
  width: 400px;
  padding: 140px 20px 0 20px;
  /* font-family: bluu; */
}

li {
  text-decoration: none;
  list-style: none;
  color: whitesmoke;
  padding: 6px;
}

a {
  text-decoration: none;
  color: whitesmoke;
}

li :hover {
  background-color: #d3a625;
  padding: 4px;
}
.logout :hover {
  background-color: #d3a625;
  padding: 10px;
}

.inputSections {
  background-color: #740001;
  color: whitesmoke;
  opacity: 0.5;
  height: 35px;
  width: 300px;
  padding: 3px;
}

::placeholder {
  color: whitesmoke;
}

.inputButton {
  background-color: #d3a625;
  /* opacity: 0.7; */
  color: whitesmoke;
  height: 30px;
  width: 100px;
  border-radius: 10px;
}

#inputButton{
  background-color: #d3a625;
  /* opacity: 0.7; */
  color: whitesmoke;
  height: 30px;
  width: 100px;
  border-radius: 10px;
}

.inputButton :hover {
  opacity: 0.2;
}

.signup {
  height: 50px;
  width: 100px;
}

.signup :hover {
  background-color: whitesmoke;
  padding: 16px 10px;
  /* height: 500px;
    width: 100px; */
}

.login {
  display: flex;
  flex-direction: column;
}

.username,
.password,
.name {
  background-color: #740001;
  color: whitesmoke;
  opacity: 0.5;
  height: 35px;
  width: 300px;
  padding: 3px;
}

.headerContainer {
  display: flex;
  justify-content: flex-end;
  background-color: black;
  opacity: 0.5;
  height: 70px;
  width: 100%;
  padding: 2px 30px 2px 0;
}

.images {
  display: flex;
  justify-content: flex-end;
  padding: 20px 50px 10px 0;
}

.quote{
    opacity: 0.5;
}

.home {
    padding: 10px 200px 0 0;
}

.houseImage {
  display: flex;
  justify-content: center;
  padding: 10px 50px 10px 0;
}

.spellImage {
  display: flex;
  /* justify-content: center; */
  padding: 10px 50px 10px 0;
}

.sortingHat {
  padding: 0 0 0 20px;
  width: 100%;
}

.Gryffindor {
  color: #400504;
}

.Slytherin {
  color: #2b8307;
}
.Ravenclaw {
  color: #006bff;
}
.Hufflepuff {
  color: #ecd80d;
}

.hogwarts {
  width: 140px;
  height: 60px;
  /* color: black; */
}





.switch {
  position: relative;
  display: block;
  vertical-align: top;
  width: 125px;
  height: 30px;
  padding: 3px;
  margin: 0 10px 10px 0;
  background: linear-gradient(to bottom, #7E1C1D, #7E1C1D 25px);
  background-image: -webkit-linear-gradient(top, #7E1C1D, #7E1C1D 25px);
  border-radius: 18px;
  box-shadow: inset 0 -1px #44191B, inset 0 1px 1px rgba(0, 0, 0, 0.05);
}
.switch-input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}
.switch-label {
  position: relative;
  display: block;
  height: inherit;
  font-size: 13px;
  text-transform: uppercase;
  background: #44191B;
  border-radius: inherit;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.12), inset 0 0 2px rgba(0, 0, 0, 0.15);
}
.switch-label:before, .switch-label:after {
  position: absolute;
  top: 50%;
  margin-top: -.5em;
  line-height: 1;
  -webkit-transition: inherit;
  -moz-transition: inherit;
  -o-transition: inherit;
  transition: inherit;
}
.switch-label:before {
  content: attr(data-off);
  right: 11px;
  color: #aaaaaa;
  text-shadow: 0 1px rgba(255, 255, 255, 0.5);
}
.switch-label:after {
  content: attr(data-on);
  left: 11px;
  color: #FFFFFF;
  text-shadow: 0 1px rgba(0, 0, 0, 0.2);
  opacity: 0;
}
.switch-input:checked ~ .switch-label {
   background: #E1B42B;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15), inset 0 0 3px rgba(0, 0, 0, 0.2);
}
.switch-input:checked ~ .switch-label:before {
  opacity: 0;
}
.switch-input:checked ~ .switch-label:after {
  opacity: 1;
}
.switch-handle {
  position: absolute;
  top: 4px;
  left: 4px;
  width: 28px;
  height: 28px;
  background: linear-gradient(to bottom, #7E1C1D 40%, #7E1C1D);
  background-image: -webkit-linear-gradient(top, #7E1C1D 40%, #7E1C1D);
  border-radius: 100%;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}
.switch-handle:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -6px 0 0 -6px;
  width: 12px;
  height: 12px;
  background: linear-gradient(to bottom, #7E1C1D, #7E1C1D);
  background-image: -webkit-linear-gradient(top, #7E1C1D, #7E1C1D);
  border-radius: 6px;
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.02);
}
.switch-input:checked ~ .switch-handle {
  left: 97px;
  box-shadow: -1px 1px 5px rgba(0, 0, 0, 0.2);
}
/* Transition
    ========================== */
.switch-label, .switch-handle {
  transition: All 0.3s ease;
  -webkit-transition: All 0.3s ease;
  -moz-transition: All 0.3s ease;
  -o-transition: All 0.3s ease;
}