/* @import url('https://fonts.googleapis.com/css?family=Tangerine&display=swap'); */
/* @import url('') */

@font-face {
    font-family: 'bluu';
    /* src: url('bluunext-bold-webfont.woff2') format('woff2'),
         url('bluunext-bold-webfont.woff') format('woff'),
         url('bluunext-bold.ttf') format('truetype'),
         url('bluunext-bold-webfont.svg#bluu_nextbold') format('svg'); */
         src: url(../Fonts/BluuNext-Bolditalic.otf);
    /* font-weight: normal;
    font-style: normal; */
}

body{
    background-color: #873336;
    margin: 0;
} 

.homePage{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* .container{
    padding: 50px 600px 0 0;
} */

.contentContainer{
    width: 100%;
    padding: 50px 600px 0 0;
}

h1{
    font-family: bluu;
    color: whitesmoke;
}

h2{
    color: whitesmoke;
}

h3{
    color: whitesmoke;
}

.navBar{
    display: flex;
    flex-direction: column; 
    padding: 140px 20px 0 0px;
    /* font-family: bluu; */
} 

li{
    text-decoration: none;
    list-style: none;
    color: whitesmoke;
    padding: 6px;
}

a{
    text-decoration: none;
    color: whitesmoke;
}

li :hover{
    background-color: #D3A625;
    padding: 4px;
}

.inputSections{
    background-color: #740001;
    color: whitesmoke;
    opacity: 0.5;
    height: 35px;
    width: 300px;
    padding: 3px;
}

::placeholder{
    color: whitesmoke;
}

.inputButton{
    background-color: #D3A625;
    /* opacity: 0.7; */
    color: whitesmoke;
    height: 30px;
    width: 100px;
    border-radius: 10px;
}

.inputButton :hover{
    opacity: 0.2;
}

.signup{
    height: 50px;
    width: 100px;
}

.signup :hover{
    background-color: whitesmoke;
    padding: 16px 10px;
    /* height: 500px;
    width: 100px; */
}

.login{
    display: flex;
    flex-direction: column;
}

.username, .password, .name{
    background-color: #740001;
    color: whitesmoke;
    opacity: 0.5;
    height: 35px;
    width: 300px;
    padding: 3px;
}

.headerContainer{
    display: flex;
    justify-content: flex-end;
    background-color: black;
    opacity: 0.6;
    height: 60px;
    padding: 2px 30px 2px 0;
}

.images{
    display: flex;
    justify-content: flex-end;
    padding: 20px 300px 10px 0;
}

.sortingHat{
    padding: 0 0 0 20px;
}